<!DOCTYPE html>
  <html>
    <head>
      <title>GTA - Gerenciamento de Trajetos de Atendimento</title>
      <!--Import Google Icon Font-->
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/style.css" />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body id="index">
    <main>
      <header>
        <nav id="menu" class="blue darken-4">
          <ul id="slide-out" class="side-nav">
          	<li class="center">
              <label for="caminho">Caminho JSON</label>
              <input id="caminho" placeholder="Caminho JSON" type="text" class="validate">
              <input type="button" data-activates="slide-out" value="Salvar Caminho" id="salvar" class="btn voltar blue darken-4" />
            </li>
          	<%if (user.username == 'admin'){%>
            <li class="center">
          	  <!--<input type="button" data-activates="slide-out" value="Voltar" class="btn voltar blue darken-4" />-->
              <!--<input type="button" value="Novo Usuário" class="btn voltar blue darken-4" />-->
              <a href="/signup" class="btn blue darken-4 voltar newuser">Cadastrar Usuário</a>
              <a href="/usuarios" class="btn blue darken-4 voltar newuser">Excluir Usuário</a>
              <!--<input type="button" data-activates="slide-out" value="Logout" class="btn voltar blue darken-4">-->
            </li>
            <%}%>
            <%if (user.username != 'admin'){%>
            <li class="center">
              <a href="/alterardados" class="btn blue darken-4 voltar alterarsenha">Alterar Dados</a>
            </li>
            <%}%>
            <li class="center">
              <a href="/logout" class="voltar red darken-1 btn logout">Logout</a>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse abrir"><i class="mdi-navigation-menu"></i></a>
          <a href="/" class="brand-logo"><%=user.username%></a>
          <a href="/mapa" id="abrir-mapa" title="Carregar Mapa" class="right"><i class="material-icons">&#xE55D;</i></a>
        </nav>
      </header>
      <div class="logo"><img src="/images/logo_grande.png" alt="G.T.A"></div>
    
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
      <script type="text/javascript" src="/javascripts/main.js"></script>
      </main>
    </body>
  </html>