<!DOCTYPE html>
  <html>
    <head>
      <title>GTA - Login</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="/stylesheets/style.css" />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body id="index">
      <header>
        <nav id="menu-mapa" class="cyan">
          <div class="nav-wrapper">
            <ul>
                <a href="#" class="brand-logo">Login</a>
                <!--<li class="left"><a href="/" title="Voltar"><i class="material-icons">navigate_before</i></a></li>-->
                <!--<li class="right"><a href="/mapa" title="Atualizar"><i class="material-icons">loop</i></a></li>-->
            </ul>
          </div>
        </nav>
      </header>
      <div id="tela-login">
        <form action="/login" method="post">

          <div class="input-field">
            <label for="login">Login</label>
            <input type="text" required name="login" class="validate">
          </div>

          <div class="input-field">
            <label for="senha">Senha</label>
            <input type="text" required name="senha" class="validate">
          </div>

          <div id="submit" class="center-align">
            <input type="submit" class="btn green accent-3 waves-effect waves-light" value="Logar">
          </div>
        </form>
      </div>

    
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
      <script type="text/javascript" src="/javascripts/main.js"></script>
    </body>
  </html>