<!DOCTYPE html>
  <html>
    <head>
      <title>GTA - Login</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="/stylesheets/style.css" />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <div class="logo"><img src="/images/logo_grande.png" alt="GTA"></div>
      <div id="tela-login">
        <form action="/login" method="post">
          <h1 class="titulo-h1">Login do Usuário</h1>
          <div class="input-field">
            <label for="username">Login</label>
            <input type="text" required name="username" class="validate">
          </div>

          <div class="input-field">
            <label for="password">Senha</label>
            <input type="password" required name="password" class="validate">
          </div>

          <div id="submit" class="center-align">
            <input type="submit" class="z-depth-3 btn blue darken-4 waves-effect waves-light" value="Entrar">
            <a href="/signup" class="z-depth-3 btn blue darken-4 waves-effect waves-light">Cadastrar</a>
          </div>
        </form>
        <%if (message.length > 0) {%>
          <div class="flash-error z-depth-3"><%=message%></div>
        <%}%>
      </div>

    
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
      <script type="text/javascript" src="/javascripts/main.js"></script>
    </body>
  </html>