@import 'https://fonts.googleapis.com/css?family=Roboto';

body{
	background: #eee;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
	width: 100%;
	height: 100%;
	background-image: url(/images/bg_tcc3.png);
	background-repeat: no-repeat;
	background-size: cover;
}

label{
	color: #00bcd4;
	font-size: 20px;
}

li{
	color: black;
}

#titulo{
	text-align: center;
	width: 100%;
	margin-top: 0;
	padding: 0;
	height: 55px;
	line-height: 55px;
	font-size: 3em;
	position: absolute;
}

#abrir-mapa{
	transform: rotate(90deg);
	margin-right: 10px;
}

#mapa{
	position: absolute;
	width: 100%;
	height: 100%;
}

.salvou{
	/*margin-bottom: 15px;*/
	background: #00bcd4;
}

#opcoes ul{
	position: absolute;
	float: left;
	margin: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: 15px;
}

#opcoes ul li{
	width: 50%;
	float: left;
	height: 50px;
}

#opcoes ul li a{
	float: left;
	width: 48px;
	margin: 0 auto;
	height: 48px;
}

#menu-mapa{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*estilo dos marcadores*/

.titulo-marcador{
   font-size: 1.2em;
   padding: 3%;
   background-color: #00bcd4;
   color: white;
   margin: 5px;
   border-radius: 5px; 
   text-align: center;
   font-family: 'Roboto', sans-serif;
}

h2{
	font-size: 1.1em;
	margin: 0;
	margin-top: 5px;
}

.gm-style-iw {
	height: auto;
}

/* label color */
label{
 color: black;
 margin-top: 5px;
}

/*tela de login*/
#tela-login{
	margin-top: 100px;
}

#tela-login form{
	padding: 5%;
	width: 100%;
	width: 80%;
	margin: 0 auto;
}

#submit{
	margin-top: 10px;
}




/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #00e676;
     box-shadow: 0 1px 0 0 #00e676;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #00e676;
     box-shadow: 0 1px 0 0 #00e676;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #00e676;
     box-shadow: 0 1px 0 0 #00e676;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }