@import 'https://fonts.googleapis.com/css?family=Roboto';

*,*::after,*::before{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body{
	background: #f5f5f5;
	width: 100%;
	margin: 0 auto;
}

.bg-fundo-mapa{
	background-image: url(/images/fundomapa.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/*CLASSE PARA O ERRO DO LOGIN*/
.flash-error{
	font-family: 'Roboto';
	text-align: center;
	position: relative;
	width: 240px;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	background: #d32f2f;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 1.3em;
	color: white;
	transition: all easy-in-out 2s;
	-webkit-transition: all ease-in-out 2s;
	-moz-transition: all ease-in-out 2s;
}

label{
	color: #00bcd4;
	font-size: 20px;
}

li{
	color: black;
}

#titulo{
	text-align: center;
	width: 100%;
	margin-top: 0;
	padding: 0;
	height: 55px;
	line-height: 55px;
	font-size: 3em;
	position: absolute;
}

#abrir-mapa{
	transform: rotate(90deg);
	margin-right: 10px;
}

#mapa{
	position: absolute;
	width: 100%;
	height: 100%;
}

/*CLASSE PARA TOAST*/
.salvou{
	/*margin-bottom: 15px;*/
	background: white;
	color:black;
	padding-left: 25%;
}

#opcoes ul{
	position: absolute;
	float: left;
	margin: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: 15px;
}

#opcoes ul li{
	width: 50%;
	float: left;
	height: 50px;
}

#opcoes ul li a{
	float: left;
	width: 48px;
	margin: 0 auto;
	height: 48px;
}

/*estilo dos marcadores*/

.titulo-marcador{
   font-size: 1.2em;
   padding: 3%;
   background-color: #0d47a1;
   color: white;
   margin: 5px;
   border-radius: 5px; 
   text-align: center;
   font-family: 'Roboto', sans-serif;
}

h2{
	font-size: 1.1em;
	margin: 0;
	margin-top: 5px;
}

.gm-style-iw {
	height: auto;
}

/* label color */
label{
 color: black;
 margin-top: 8px;
}

/*tela de login*/
#tela-login{
	width: 100%;
}

#tela-login form, #form-signup form{
	width: 80%;
	margin: 0 auto;
}

#submit{
	margin-top: 10px;
}

.logout{
	width: 110px;
	color: white !important;
	margin: 0 auto !important;
	height: 50px !important;
	line-height: 50px !important;
	margin-top: 15px !important;
}


.logo{
	width: 100%;
	height: 150px;
	margin: 0 auto;
	margin-top: 5px;
}

.logo img{
	display: block;
	margin: 0 auto;
}

#index .logo{
	margin-top: 40%;
}

.titulo-h1{
	width: 100%;
	font-family: 'Roboto';
	font-size: 2em;
	text-align: center;
	color: #0d47a1;
}